html, body, #root {
    flex: 1;
    height: 100%;
}

.App {
    text-align: center;
    background-color: #4f7942;
    height: 100%;
    margin: 0;
}

.App-header {
    padding-top: 200px;
}

#header-text {
    font-size: 65px;
}